<nav class="ideaNav">
    <ul>
        <label>Category</label>
        <select name="category" id="category">
            <option selected disabled hidden>Select ——</option>
            <% if (locals.category) { %>
                <% category.forEach(option => { %>
                    <option value="<%= option %>"><%= option %></option>
                <% }) %>
            <% } %>
        </select>
        &emsp;
        <label for="genre">Genre</label>
        <select name="genre" id="genre">
            <option selected disabled hidden>Select ——</option>
        </select>
        &emsp;
        <label>Sort by</label>
        <select name="sort" id="sort" onchange="location=this.value;">
            <option value="/ideas" <%= locals.hitSelected %>>Hit</option>
            <option value="../ideas/new" <%= locals.newSelected %>>New</option>
            <option value="../ideas/top" <%= locals.topSelected %>>Top</option>
        </select>
    </ul>
</nav>