<html>
    <head>
        <title>Search result for <%= searchOptions %> —— Upollomer</title>
    </head>
    <body>
        <h3>Search without content</h3>
        <p>Ideas</p>
        <ul>
            <% ideas.forEach(idea => { %>
                <li class="searchedIdeas">
                    <% if (idea.coverImgPath) { %> 
                        <div><img height="135" width="240" src="<%= idea.coverImgPath %>"></div>
                    <% } %>
                    <div><%= idea.title %></div>
                    <div><%= idea.description %></div>
                    <div>Creators: <%= idea.coDreamer %> </div>
                    <br>
                    <div>Created date: <%= idea.date.toISOString().split('T')[0] %></div>
                </li>
                <br>
            <% }) %>
        </ul>
        <% if (searchCreators) { %> 
            <p>Creators</p>
            <ul>
                <% creators.forEach(creator => { %>
                    <li class="searchedCreators">
                        <%= creator.username %>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </body>
</html>