<!-- TODO: category icon -->
<fieldset>
    <% if (locals.message) { %>
        <div class="postIdeaFlash">
            <%= message %> 
        </div>
    <% } %>
    <br>
    <div class="ideaTag">
        <label>Category</label>
        <select name="category" id="category" onchange="getSelectedValue();">
            <option selected disabled hidden>Select ——</option>
            <% if (locals.category) { %>
                <% var i = -1; %> 
                <% for (let key in category) { %>
                    <% ++i %>
                    <option value="<%= i %>"><%= key %></option>
                <% } %>
            <% } %>
        </select>

        <script type="text/javascript">
            function getSelectedValue() {
                let value = document.getElementById("category").value;
                console.log(value);
            }
            getSelectedValue();
        </script>

        &emsp;
        <label for="genre">Genre</label>
        <select name="genre" id="genre">
            <option selected disabled hidden>Select ——</option>
            <% if (locals.category) { %>
                <% Object.values(category)[i].forEach(genre => { %> 
                    <option value="<%= genre %>"><%= genre %></option>
                <% }) %>
            <% } %>
        </select>
    </div>
    <br>
    <div class="ideaTitle">
        <label for="title">Title</label>
        <br>
        <input type="text" id="title" name="title" value="<%= idea.title %>" required>
    </div>
    <br>
    <div class="ideaDescription">
        <label for="description">Description</label>
        <br>
        <textarea style="resize:none" rows="8" cols="45" maxlength="300" id="description" name="description" value="<%= idea.description %>" required></textarea>
    </div>
    <br>
    <div class="ideaRegion">
        <label for="region">Region</label>
        <br>
        <select name="region" id="region">
            <option value="<%= idea.region %>" selected>Anywhere on Earth</option>
            <!-- FIXME: import all countries here -->
        </select>
    </div>
    <br>
    <div class="ideaStatus">
        <label for="status">Idea Status</label>
        <br>
        <select name="status" id="status">
            <option value="<%= idea.status %>" selected>Initializing</option>
            <option value="">In progress</option>
            <option value="">Pre-launch</option>
            <option value="">Post-launch</option>
        </select>
    </div>
    <br>
    <div class="coverImg">
        <!-- FIXME: auto close after file drag? -->
        <label>Cover Image</label>
        <br>
        <input type="file" name="coverImg" class="filepond">
    </div>
    <br>
    <div class="devLog">
        <!-- FIXME: multiple uploads -->
        <label>Dev Log</label>
        <br>
        <input type="file" name="devLog">
    </div>
    <br>
    <div class="co-dreamers">
        <label for="co-dreamers">Co-Dreamers (temp)</label>
        <br>
        <!-- TODO: put this function w/ friend list or user page -->
        <!-- TODO: add co-dreamers with a tag system -->
        <select name="coDreamer">
            <% if (locals.creators) { %>
                <% creators.forEach(creator => { %>
                    <option label="<%= creator.username %>" value="<%= creator.id %>"></option>
                <% }) %>
            <% } %>
        </select>
    </div>
    <br>
</fieldset>