<html>
    <head>
        <title>Hit Ideas —— Upollomer (lots of recent clicks)</title>
    </head>
    <body>
        <h2>This is the Hit (index) Idea page</h2>
        <div>
            <% ideas.forEach(idea => { %>
                <% if (idea.coverImgPath) { %> 
                    <img height="135" width="240" src="<%= idea.coverImgPath %>">
                <% } %>
                <div><%= idea.title %></div>
                <div><%= idea.description %></div>
                <div>Creators: <%= idea.coDreamer %> </div>
                <% if (idea.devLogPath) { %>
                    <!-- FIXME: try to do the decode base64 after extracting data from text file here -->
                    <a href="<%= idea.devLogPath %>" download="">Download devLogs</a>
                    
                <% } %>
                <br>
            <% }) %>
        </div>
    </body>
</html>